
.question {
  padding: 20px 0;

  &__title {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 600;
  }

  &__answer {
    background: var(--secondary-color);
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    transition: all .3s;

    &:hover:not([disabled]) {
      background: #222;
      color: var(--secondary-color);
    }

    &--correct {
      background: var(--success-color);
    }

    &--incorrect {
      background: var(--error-color);
    }
  }

  &__next-btn {
    width: 150px;
    margin: 20px auto 0;
  }
}
